#!/bin/bash
HOST=xnatdev
SERVER=10.0.0.165
XNAT=xnat-1.6.5
REVISION=1.6.5
XNAT_REV=1.6.5
PIPELINE_INST=pipeline-1.6.5
JAVA_PATH=/usr/lib/jvm/java-7-openjdk-amd64
VM_USER=xnat

# These variables will default to the same values set here. You can leave them commented out unless you want to change your installation's project or site name.
# PROJECT=xnat
# SITE=XNAT

