#!/bin/bash
NAME='xnat'
HOST='xnat'
SERVER='10.1.1.170'
PROJECT='xnat'
SITE='XNAT'
ADMIN='admin@xnatdev.xnat.org'
SMTP='devmail.xnat.org'
VM_USER='xnat'
VM_IP='10.1.1.170'
PROVISION='../../scripts/provision.sh'
BUILD='../../scripts/war-deploy.sh'
DEPLOY='war'
REVISION='1.7.0'
DB_VERSION='9.5'
XNAT_URL='https://bintray.com/nrgxnat/applications/download_file?file_path=xnat-web-1.7.0.war'
PIPELINE_URL='https://bintray.com/nrgxnat/applications/download_file?file_path=xnat-pipeline-1.7.0.zip'
BOX='nrgxnat/xnatstack-ubuntu1404-docker'
JAVA_PATH='/usr/lib/jvm/java-8-openjdk-amd64'
RAM='2048'
CPUS='1'
GUI='false'
DATA_ROOT='/data/xnat'
HOME='/data/xnat/home'
XNAT_REV='1.7.0'
PIPELINE_REV='1.7.0'
XNAT='xnat'
XNAT_DIR='xnat'
PIPELINE_INST='pipeline'
PIPELINE_DIR='pipeline'
CONFIG='xnat'
XNAT_SRC='https://bintray.com/nrgxnat/applications/download_file?file_path=xnat-web-1.7.0.war'
PIPELINE_SRC='https://bintray.com/nrgxnat/applications/download_file?file_path=xnat-pipeline-1.7.0.zip'
